body, html {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', monospace;
    background-color: #000;
    color: #0F0;
}

.cli-interface {
    max-width: 600px;
    margin: 50px auto;
    background-color: #000;
    color: #0f0;
    padding: 20px;
    border-radius: 5px;
}

#output {
    max-height: 400px;
    overflow-y: auto;
}

#commandInput {
    width: 100%;
    border: none;
    padding: 5px;
    color: #0F0;
    background-color: #000;
    caret-color: #0F0;
    outline: none;
}

#commandInput::placeholder {
    color: #555;
}
